<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bulma.min.css">
    <title>Health Check</title>
</head>
<body>
    <section class="section">
    <div class="container">
        <h1 class="title">
            Health Check
        </h1>
        <p class="subtitle">
            Ping your site
        </p>
    </div>
    </section>
    <section>
        <div class="container">
            <form method='POST' >
                <div class="field">
                    <label class="label">IP Address</label>
                    <div class="control">
                        <input class="input" type="text" name="ip" placeholder="Enter IP address">
                    </div>
                </div>
                <div class="control">
                    <button class="button is-link">PING</button>
                </div>
            </form>
        </div>
    </section>
    <div class="section">
        <div class="container">
            Output:
            <pre><%=output%></pre>
        </div>
    </div>
</body>
</html>